<div class="container my-4">
    <h1 class="text-center">Welcome to <span class="text-danger">PERKY RABBIT</span> Assignment</h1>

    <div class="container my-3">
        <h3>This is home page. I have used this page for instruction purposes</h3>

        <p>All the data table available under the Admin Category</p>
        <P>In the Employee Page there is the Employee table information. There you can perform CRUD operation and also
            search for specific name available on the table</P>

        <p>Also the Departments and Positions Table Has only data display api to display all the data</p>
        <p>You can not perform any other operations there</p>

        Technologies I Have Used:
        <ul>
            <li class="fw-bold">MSSQL Database</li>
            <li class="fw-bold">ASP .NET 6</li>
            <li class="fw-bold">Entity Framework</li>
            <li class="fw-bold">Angular - 16</li>
            <li class="fw-bold">Bootstrap-v5</li>
        </ul>

        <p class="fw-bold">DataBase Information</p>
        <p>Three Tables: <br> <span class="fw-bold">Employees(EmployeeId, firstName, lastName, dateOfBirth,
                departmentId,
                positionId)</span>
        <p>
        <p class="fw-bold">Departments(departmentId, departmentName)</p>
        <p class="fw-bold">Positions(positionId, Title)</p>

        <p>Employee table is referenced by foreign key in Department and Position table</p>
        <p>So, while inserting into employees, we have to insert only those departmentId and positionId whose are available on those table</p>
        <p>Inside Data folder there is a file <span class="fw-bold">Queries.sql</span> here the database declaration are there</p>

    </div>
</div>